*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* .container{
  margin-left: 14%;
  margin-right: 5%;
  border-left: 1px solid;
} */


.container {
  max-width: 95%;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  border: 3px solid #2e2c2c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}


.container:hover {
  border-color: #2e2c2c;
  box-shadow: 0 8px 20px #111111;
}



.common-form{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
}

.form-input{
  height: 35px;
  margin-bottom: 20px;
  padding-left: 15px;
  border: 1px solid #2e2c2c;
  color: #2e2c2c;
}

.form-button {
  height: 35px;
  border: 1px solid #2e2c2c;
  color: #2e2c2c;
  cursor: pointer;

}


.error-p{
  color: red;
}

.message-p{
  color: green;
  text-align: center;
}

.carousel-caption{
  background-color: #130e0e7d;
  border-radius: 10px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: black;
  border-radius: 5px;
}

.invalid-input{
  color: red;
  font-size: 12px;
  margin-top: -20px;
}

button:disabled{
  cursor: not-allowed;
}

.max-width{
  width: 100%;
}
