<nav class="nav">
  <h1 class="logo"><a routerLink="/">MY <span>STORE</span></a></h1>
  <div *ngIf="menuType==='default'" class="nav-search">
    <input type="text" placeholder="Pesquisar Produtos" />
    <button>Pesquisar</button>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a href="#">Home</a></li>
      <li><a routerLink="seller-auth">Vendedores</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Carrinho(0)</a></li>
    </ul>

    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-auth">Lista De Produtos</a></li>
      <li><a routerLink="#">Adicionar Produtos</a></li>
      <li><a (click)="logout()">Sair</a></li>
      <li><a href="#">{{sellerName}}</a></li>
    </ul>
  </div>
</nav>


