<nav class="nav">
  <h1 class="logo"><a routerLink="/">MY <span>STORE</span></a></h1>

  <div *ngIf="menuType==='default'" class="nav-search">
    <input type="text" #searchInput (keyup)="searchProducts($event)" (blur)="hideSearch()" placeholder="Pesquisar Produtos" />
    <button (click)="submitSearch(searchInput.value)">Pesquisar</button>
    <ul class="suggested-result"  *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a href="#">Home</a></li>
      <li><a routerLink="seller-auth">Vendedores</a></li>
      <li><a routerLink="/user-auth">Login/Cadastrar</a></li>
      <li><a href="#">Carrinho(0)</a></li>
    </ul>

    <ul *ngSwitchCase="'user'">
      <li><a href="#">Home</a></li>
      <li><a routerLink="/user-auth">{{userName | titlecase}}</a></li>
      <li><a href="#">Carrinho(0)</a></li>
      <li><a (click)="userLogout()">Sair</a></li>
    </ul>

    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-add-product">Adicionar Produtos</a></li>
      <li><a routerLink="/seller-home">Lista De Produtos</a></li>
      <li><a (click)="logout()">Sair</a></li>
      <li><a href="#">{{sellerName | titlecase}}</a></li>
    </ul>
  </div>
</nav>


