<div class="cart-page">
  <h1>Produtos no Carrinho</h1>
  <div class="row">
    <div class="col-sm-8 details">
      <ul *ngFor="let cart of cartData">
        <li>
          <img src="{{cart.image}}" alt="">
        </li>
        <li>
          <span>Produto: {{cart.name}}</span>
        </li>
        <li>
          <span>Preço do Produto: R$ {{cart.price}}</span>
        </li>
        <li>
          <span>Quantidade do Produto: {{cart.quantity}}</span>
        </li>
        <li>
          <button class="form-button" (click)="removeToCart(cart.id)">Remover</button>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 summary" >
      <h3>Soma Total</h3>
      <ul>
        <li><span>Valor: </span><span>R$ {{priceSummary.price.toFixed(2)}}</span></li>
        <li><span>Desconto: R$</span><span>R$ {{priceSummary.discount.toFixed(2)}}</span></li>
        <li><span>Entrega: </span><span>R$ {{priceSummary.delivery}}</span></li>
        <li>
          <span><h4>Total: </h4></span><span><h4>R$ {{priceSummary.total.toFixed(2)}}</h4></span>
        </li>
        <button (click)="checkout()" class="form-button max-width">Comprar</button>
      </ul>
    </div>
  </div>
</div>
