@if (popularProducts) {
<ngb-carousel>
  <ng-template *ngFor="let item of popularProducts" ngbSlide>

    <div class="picsum-img-wrapper">
      <a routerLink="/details/{{item.id}}"><img class="product-img" [src]="item.image" /></a>
    </div>

    <div class="carousel-caption">
      <h3>{{ item.name }}</h3>
    </div>
  </ng-template>
</ngb-carousel>
}

<div class="product-list-wrapper">
  <h1>Produtos em destaque</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="product-item">
        <img
          src="{{item.image}}"
        />

        <div class="product-details">
          <h6 class="name-head">Novidade!<br>{{item.name}}</h6>
          <div class="product-price">
            <h6>Preço: R$ {{item.price}}</h6>
          </div>
          <div class="product-color">
            <h6>Cor: {{item.color}}</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="#"> + Detalhes </a>
          <a href="#"> + Carrinho </a>
        </div>
      </div>
    </div>
  </div>
</div>

