<div class="product-list">
  <div class="container-all-products">Todos os produtos</div>
  <p class="message-p">{{productMessage}}</p>
  <table>
    <thead>
      <tr>
        <th>Imagem do Produto</th>
        <th>Nome do Produto</th>
        <th>Preço do Produto</th>
        <th>Cor do Produto</th>
        <th>Categoria do Produto</th>
        <th>Descrição do Produto</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td><img src="{{item.image}}"></td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.color}}</td>
        <td>{{item.category}}</td>
        <td>{{item.description}}</td>
        <td>
          <div class="actions">
          <fa-icon class="delete" (click)="deleteProduct(item.id)" [icon]="deleteIcon"></fa-icon>
          <a class="edit" routerLink="/seller-update-product/{{item.id}}"><fa-icon  [icon]="editIcon"></fa-icon></a>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
